<div class="page-header">
  <a class="btn btn-default" href="/nota_fiscais">
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  </a>
  <h3>Nota Fiscal (Itens)</h3>
</div>

<%= render 'form' %>
