<div class="page-header">
  <%= link_to "javascript:window.location.assign('/nota_fiscais/#{@nota_fiscal.id}/nota_fiscal_itens/new')", class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>

  <h3>Duplicatas</h3>
</div>

<%= render 'form' %>
