<h3>Plano de Contas</h3>

<div class="page-header">
  <%= link_to plano_contas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h3>Inclusão</h3>
</div>

<%= render 'form' %>
